<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jose.cicacau" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TelaInicial"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".AnaliseConjuralCompleta"
            android:label="Análise Conjural" >
        </activity>
        <activity
            android:name=".CursosEventosCompleto"
            android:label="Cursos e Eventos" >
        </activity>
        <activity
            android:name=".LeiCompleta"
            android:label="Lei" >
        </activity>
        <activity
            android:name=".ListAnaliseConjural"
            android:label="Análise Conjural" >
        </activity>
        <activity
            android:name=".ListCursosEventos"
            android:label="Cursos e Eventos" >
        </activity>
        <activity
            android:name=".ListLeis"
            android:label="Leis" >
        </activity>
        <activity
            android:name=".ListNoticias"
            android:label="Notícias" >
        </activity>
        <activity
            android:name=".ListPatentes"
            android:label="Patentes" >
        </activity>
        <activity
            android:name=".ListTextosTecnicos"
            android:label="Textos Técnicos" >
        </activity>
        <activity
            android:name=".ListVideo"
            android:label="Vídeos" >
        </activity>
        <activity
            android:name=".NoticiaCompleta"
            android:label="Notícia" >
        </activity>
        <activity
            android:name=".PatenteCompleta"
            android:label="Patente" >
        </activity>
        <activity
            android:name=".TextoTecnicoCompleto"
            android:label="Texto Técnico" >
        </activity>
        <activity
            android:name=".VideoCompleto"
            android:label="Vídeo" >
        </activity>
    </application>

</manifest>
